@using CSISD_Toll_Operator_Assignment.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model AddCardViewModel
@{
    ViewData["Title"] = Localizer["Add Card Details"];
}

<div class="container">
    <div>
        <h1>@ViewData["Title"]</h1>
        <p>@Localizer["Use this page to add a new payment card."]</p>
    </div>
    <hr />
    <div class="row">
        <div class="d-flex justify-content-start col-8">
            <form asp-controller="Toll" asp-action="AddCard" method="post">
                <div class="form-group">
                    <label asp-for="NameOnCard" class="control-label"></label>
                    <input asp-for="NameOnCard" class="form-control" />
                    <span asp-validation-for="NameOnCard" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CardNumber" class="control-label"></label>
                    <input asp-for="CardNumber" class="form-control" />
                    <span asp-validation-for="CardNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ExpiryDate" class="control-label"></label>
                    <input asp-for="ExpiryDate" type="date" class="form-control" />
                    <span asp-validation-for="ExpiryDate" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CVV" class="control-label"></label>
                    <input asp-for="CVV" class="form-control" />
                    <small class="form-text text-muted">@Localizer["The last 3 digits on the back"]</small>
                    <span asp-validation-for="CVV" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">@Localizer["Add"]</button>
            </form>
        </div>
        <div class="d-flex flex-column align-items-end justify-content-center col-4">
            <img style="width: 135%; margin-right: -5%;" src="~/images/bank-card.jpg" alt="Bank card" />
            <div class="alert alert-secondary" role="alert">
                <i class="fa fa-shield" aria-hidden="true"></i>
                @Localizer["Your details are securely stored and processed at all times."]
            </div>
        </div>
    </div>
</div>
