@using CSISD_Toll_Operator_Assignment.Models.View
<<<<<<< HEAD
@using Microsoft.Extensions.Localization

=======
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
>>>>>>> b67951ef28de65aa305f0526a3c1f1f469bc4bd6
@model ContractView

@inject IStringLocalizer<ContractView> Localizer

<h1>@ViewData["Title"]</h1>
@{
<<<<<<< HEAD
    ViewData["Title"] = Localizer["ContractTollOperator"];
=======
    ViewData["Title"] = Localizer["Contract Toll Operator"];
>>>>>>> b67951ef28de65aa305f0526a3c1f1f469bc4bd6
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Contract Toll Operator"]</h1>

<div class="container">
    <table class="table table-hover table-bordered mt-5 table-sm">
        <thead>
            <tr>
                <th scope="col">@Localizer["Id"]</th>
                <th scope="col">@Localizer["Company"]</th>
                <th scope="col">@Localizer["Fee"]</th>
                <th scope="col">@Localizer["Type"]</th>
                <th scope="col">@Localizer["Expiry Date"]</th>
<<<<<<< HEAD
                <th scope="col">@Localizer["User Id"]</th>
=======
                <th scope="col">@Localizer["User ID"]</th>
>>>>>>> b67951ef28de65aa305f0526a3c1f1f469bc4bd6
                <th scope="col">@Localizer["Details"]</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var cont in Model.contracts)
                {
                    <tr>
                        <td>@cont.Id</td>
                        <td>@Localizer[cont.Company]</td>
                        <td>@cont.Fee</td>
                        <td>@Localizer[cont.Type]</td>
                        <td>@cont.ExpiryDate</td>
                        <td>@cont.UserId</td>
<<<<<<< HEAD
                        <td><a href="/Toll/ContractDetails?contractId=@cont.Id" class="btn btn-sm btn-primary ml-5">@Localizer["View Details"]</a></td>
=======
                        <td><a href="/Toll/Contract?contractId=@cont.Id" class="btn btn-sm btn-primary ml-5">@Localizer["View Details"]</a></td>
>>>>>>> b67951ef28de65aa305f0526a3c1f1f469bc4bd6
                    </tr>
                }
            }
        </tbody>
    </table>
</div>