@using CSISD_Toll_Operator_Assignment.Models.View

@model ContractView

<h1>@ViewData["Title"]</h1>
@{
    ViewData["Title"] = "ContractTollOperator";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ContractTollOperator</h1>

<div class="container">
    <table class="table table-hover table-bordered mt-5 table-sm">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Company</th>
                <th scope="col">Fee</th>
                <th scope="col">Type</th>
                <th scope="col">ExpiryDate</th>
                <th scope="col">UserId</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var cont in Model.contracts)
                {
                    <tr>
                        <td>@cont.Id</td>
                        <td>@cont.Company</td>
                        <td>@cont.Fee</td>
                        <td>@cont.Type</td>
                        <td>@cont.ExpiryDate</td>
                        <td>@cont.UserId</td>
                        <td><a href="/Toll/Contract?contractId=@cont.Id" class="btn btn-sm btn-primary ml-5">View Details</a></td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>