@using CSISD_Toll_Operator_Assignment.Models
@model PaymentViewModel
@{
    ViewData["Title"] = "Pay Invoice";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <p>@Model.invoice.Id</p>
    <p>@Model.invoice.Fee</p>
    <p>@Model.invoice.UserId</p>
    <p>@Model.invoice.EntryTimestamp</p>
    <p>@Model.invoice.ExitTimestamp</p>
    <p>@Model.invoice.VehicleId</p>
    <p>@Model.invoice.Paid</p>
    <form asp-controller="Toll" asp-action="Pay" method="post">
        <p>Total: </p>
        <label for="cards">Select card</label>
        <select name="cards" id="cards">
            @foreach (var item in Model.cards)
            {
             <option value="@Html.DisplayFor(modelItem => item.CardNumber)">@Html.DisplayFor(modelItem => item.CardNumber)</option>
            }
        </select>
        <label for="cvv">CVV:</label>
        <input id="cvv" name="cvv" type="text" placeholder="Enter your cvv" />
    </form>
</div>
