@using CSISD_Toll_Operator_Assignment.Models
@model PaymentViewModel
@{
    ViewData["Title"] = "Pay Invoice";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row">
        <div id="invoiceDetails" class="col-sm-6">
            <p>Invoice ID: @Model.invoice.Id</p>
            <p>Fee: @Model.invoice.Fee</p>
            <p>CustomerID: @Model.invoice.UserId</p>
            <p>Entry Timestamp: @Model.invoice.EntryTimestamp</p>
            <p>Exit Timestamp: @Model.invoice.ExitTimestamp</p>
            <p>Vehicle Reg Plate: @Model.vehicle.RegistrationPlate</p>
            <p>Invoice Paid? @Model.invoice.Paid</p>
        </div>
        <div class="col-sm-6">
            <form asp-controller="Toll" asp-action="Pay" method="post">
                <div class="form-group">
                    <label for="cards">Select card</label>
                    <select name="cards" id="cards" class="form-control">
                        <option value="" selected disabled hidden>Choose your card</option>
                        @foreach (var item in Model.cards)
                        {
                         <option value="@Html.DisplayFor(modelItem => item.CardNumber)">@Html.DisplayFor(modelItem => item.CardNumber)</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label for="cvv">CVV:</label>
                    <input id="cvv" class="form-control" name="cvv" type="text" placeholder="Enter your cvv" />
                </div>
                <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Pay" />
                </div>
            </form>
        </div>
    </div>
</div>
