@using CSISD_Toll_Operator_Assignment.Models
@model IEnumerable<PaymentViewModel> 
@{
    ViewData["Title"] = "Pay Invoice";
}

<h1>@ViewData["Title"]</h1>

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.invoice.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.invoice.Fee)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.invoice.UserId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.invoice.VehicleId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.invoice.EntryTimestamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.invoice.ExitTimestamp)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.invoice.Paid)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.invoice.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.invoice.Fee)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.invoice.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.invoice.VehicleId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.invoice.EntryTimestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.invoice.ExitTimestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.invoice.Paid)
                </td>
            </tr>
            }
        </tbody>
    </table>
    <form asp-controller="Toll" asp-action="Pay" method="post">
        <p>Total: </p>
        <label for="cards">Select card</label>
        <select name="cards" id="cards">
            @foreach (var item in Model)
            {
            <option value="@Html.DisplayFor(modelItem => item.card.CardNumber)">@Html.DisplayFor(modelItem => item.card.CardNumber)</option>
            }
        </select>
        <label for="cvv">CVV:</label>
        <input id="cvv" name="cvv" type="text" placeholder="Enter your cvv" />
    </form>
</div>
