@using CSISD_Toll_Operator_Assignment.Models
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model TollHistoryViewModel
@{
    ViewData["Title"] = Localizer["Toll History"];
}

<div class="container">
    <h7 class="mb-5 font-weight-bold">@Localizer["Customer ID: {0}", Model.UserId]</h7>
    <hr />
    <table id="data-table" class="table table-hover table-bordered mt-5 table-sm">
        <thead>
            <tr>
                <th class="text-center" colspan="4">@Localizer["Tolls History"]</th>
            </tr>
            <tr>
                <th scope="col">@Localizer["Entry"]</th>
                <th scope="col">@Localizer["Exit"]</th>
                <th scope="col">@Localizer["Charge"]</th>
                <th scope="col">@Localizer["Paid"]</th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var invoice in Model.Invoices)
                {
                    <tr>
                        <td>@invoice.EntryTimestamp</td>
                        <td>@invoice.ExitTimestamp</td>
                        <td>£@invoice.Fee</td>
                        <td>
                            <div class="d-flex justify-content-between align-items-center">
                                @(invoice.Paid ? "✔" : "❌")
                                @if(!invoice.Paid)
                                {
                                    <a href="/Toll/Payment?invoiceId=@invoice.Id" class="btn btn-sm btn-primary ml-5">@Localizer["Pay"]</a>
                                }
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>