@using CSISD_Toll_Operator_Assignment.Service
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject PreferenceService preferenceService
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @Localizer["Nordic Tolling Service"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css" />
</head>
<body>
    <header class="container">
        <div class="row mt-3 mb-3">
            <div class="col-3 d-flex">
                <img class="img-thumbnail" alt="Header image" src="~/Images/header.jpg" />
            </div>
            <div class="col-9">
                <div class="row mb-2">
                    <div class="col-7">
                        <h1 class="font-weight-bold">@Localizer["Nordic Department of Transport"]</h1>
                    </div>
                    <div class="col-5">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <form asp-controller="Home" asp-action="ChangeLanguage" asp-route-returnUrl="@Context.Request.GetDisplayUrl()" method="post" id="LanguageDropdown">
                                <select class="custom-select mb-1" name="languages" id="languages-select" onchange="LanguageDropdown.submit()">
                                    <!-- Deliberately not iterating over Languages.SupportedLanguages here to generate the <option> elements
                                         because we want the pretty names to be localised themselves, but they will only get picked up by the
                                         translator tool if they appear as string literals in the cshtml, and that wouldn't happen if the
                                         data was being sourced from Languages.SupportedLanguages... Because of that there is a bit of duplication
                                         here. -->
                                    <option value="en" selected="@(preferenceService.GetLanguage() == "en")">@Localizer["English"]</option>
                                    <option value="fr" selected="@(preferenceService.GetLanguage() == "fr")">@Localizer["French"]</option>
                                    <option value="ar" selected="@(preferenceService.GetLanguage() == "ar")">@Localizer["Arabic"]</option>
                                    <option value="nb" selected="@(preferenceService.GetLanguage() == "nb")">@Localizer["Norwegian"]</option>
                                    <option value="sv" selected="@(preferenceService.GetLanguage() == "sv")">@Localizer["Swedish"]</option>
                                    <option value="da" selected="@(preferenceService.GetLanguage() == "da")">@Localizer["Danish"]</option>
                                    <option value="fi" selected="@(preferenceService.GetLanguage() == "fi")">@Localizer["Finnish"]</option>
                                </select>
                            </form>

                            <div class="d-flex justify-content-end row align-items-center">
                                <form asp-controller="Home" asp-action="DecrementMagnification" asp-route-returnUrl="@Context.Request.GetDisplayUrl()" method="post">
                                    <button disabled="@(preferenceService.GetMagnification() <= 100)" title="@Localizer["Decrease font size by 1%"]" type="submit" class="btn btn-link">
                                        <i class="fa fa-search-minus fa-2x" aria-hidden="true"></i>
                                    </button>
                                </form>
                                <form asp-controller="Home" asp-action="IncrementMagnification" asp-route-returnUrl="@Context.Request.GetDisplayUrl()" method="post">
                                    <button title="@Localizer["Increase font size by 1%"]" type="submit" class="btn btn-link">
                                        <i class="fa fa-search-plus fa-2x" aria-hidden="true"></i>
                                    </button>
                                </form>
                            </div>
                            <div class="d-flex justify-content-end">
                                <small>@preferenceService.GetMagnification()%</small>
                            </div>
                        }
                    </div>
                </div>
                <nav style="padding-top: 18px;" class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                            </li>
                            @if (SignInManager.IsSignedIn(User) && !User.IsInRole("admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Toll" asp-action="TollHistory">@Localizer["Toll History"]</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Toll" asp-action="Contracts">@Localizer["Contracts"]</a>
                                </li>
                            }
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="About">@Localizer["About Us"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Privacy"]</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ContactUs">@Localizer["Contact Us"]</a>
                            </li>
                            <partial name="_LoginPartial" />
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>

    <hr />

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container p-3">
            &copy; 2022 - @Localizer["Nordic Tolling Service"] - <a asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Privacy"]</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>document.onload = adjustFontSizes(@((double)preferenceService.GetMagnification() / 100))</script>
    @RenderSection("Scripts", required: false)
</body>
</html>
